Repository es-meta/esmeta, pull requests merged in 2022-09, with the labels that each got.

#91 Supported mathematical operations with implementation-approximated number value conversion
  src/main/resources/manuals/rule.json
  src/main/resources/result/complete-funcs
  src/main/resources/result/spec-summary
  src/main/scala/esmeta/analyzer/AbsTransfer.scala
  src/main/scala/esmeta/analyzer/domain/value/BasicDomain.scala
  src/main/scala/esmeta/analyzer/domain/value/Domain.scala
  src/main/scala/esmeta/analyzer/domain/value/TypeDomain.scala
  src/main/scala/esmeta/compiler/Compiler.scala
  src/main/scala/esmeta/error/InterpreterError.scala
  src/main/scala/esmeta/es/Initialize.scala
  src/main/scala/esmeta/es/builtin/package.scala
  src/main/scala/esmeta/interpreter/Interpreter.scala
  src/main/scala/esmeta/ir/Expr.scala
  src/main/scala/esmeta/ir/Op.scala
  src/main/scala/esmeta/ir/package.scala
  src/main/scala/esmeta/ir/util/Parser.scala
  src/main/scala/esmeta/ir/util/Stringifier.scala
  src/main/scala/esmeta/ir/util/UnitWalker.scala
  src/main/scala/esmeta/ir/util/Walker.scala
  src/main/scala/esmeta/lang/Expression.scala
  src/main/scala/esmeta/lang/util/Parser.scala
  src/main/scala/esmeta/lang/util/Stringifier.scala
  src/main/scala/esmeta/lang/util/UnitWalker.scala
  src/main/scala/esmeta/lang/util/Walker.scala
  src/test/scala/esmeta/ir/StringifyTinyTest.scala
  src/test/scala/esmeta/lang/StringifyTinyTest.scala
  tests/result/ir/StringifyTinyTest
  tests/result/ir/StringifyTinyTest.json
  tests/result/lang/StringifyTinyTest
  tests/result/lang/StringifyTinyTest.json
Labels: enhancement, area:lang, area:ir

#93 Added ECMAScript mutator
  .completion
  .gitignore
  src/main/scala/esmeta/Command.scala
  src/main/scala/esmeta/ESMeta.scala
  src/main/scala/esmeta/es/Ast.scala
  src/main/scala/esmeta/es/util/AstValidityChecker.scala
  src/main/scala/esmeta/es/util/UnitWalker.scala
  src/main/scala/esmeta/es/util/Walker.scala
  src/main/scala/esmeta/mutator/Mutator.scala
  src/main/scala/esmeta/mutator/RandomMutator.scala
  src/main/scala/esmeta/mutator/synthesizer/RandomSynthesizer.scala
  src/main/scala/esmeta/mutator/synthesizer/SimpleSynthesizer.scala
  src/main/scala/esmeta/mutator/synthesizer/Synthesizer.scala
  src/main/scala/esmeta/phase/Mutate.scala
  src/main/scala/esmeta/spec/Production.scala
  src/main/scala/esmeta/spec/Rhs.scala
  src/main/scala/esmeta/spec/Symbol.scala
  src/main/scala/esmeta/util/BaseUtils.scala
  src/main/scala/esmeta/util/StateMonad.scala
Labels: new feature, area:js

#101 Fix font option of CFG
  src/main/scala/esmeta/analyzer/util/Graph.scala
  src/main/scala/esmeta/cfg/util/DotPrinter.scala
Labels: area:cfg

#100 Fix left alignment problem in CFG
  src/main/scala/esmeta/cfg/util/DotPrinter.scala
Labels: area:cfg
