Repository es-meta/esmeta, pull requests merged in 2022-12, with the labels that each got.

#122 More summary improvements.
  src/main/resources/manuals/default/test262/filtered.json
  src/main/resources/manuals/default/test262/in-progress.json
  src/main/scala/esmeta/error/NotSupported.scala
  src/main/scala/esmeta/error/Test262Error.scala
  src/main/scala/esmeta/interpreter/Interpreter.scala
  src/main/scala/esmeta/phase/Test262Test.scala
  src/main/scala/esmeta/state/util/Stringifier.scala
  src/main/scala/esmeta/test262/Test262.scala
  src/main/scala/esmeta/test262/util/ManualConfig.scala
  src/main/scala/esmeta/test262/util/TestFilter.scala
  src/main/scala/esmeta/util/Appender.scala
  src/main/scala/esmeta/util/ProgressBar.scala
  src/main/scala/esmeta/util/Summary.scala
  src/test/scala/esmeta/ESMetaTest.scala
  src/test/scala/esmeta/test262/EvalLargeTest.scala
  src/test/scala/esmeta/test262/ParseLargeTest.scala
Labels: test, enhancement

#126 File-grained NotSupported error
  src/main/resources/manuals/default/test262/categorized.json
  src/main/resources/manuals/default/test262/filtered.json
  src/main/resources/manuals/default/test262/supported-features.json
  src/main/resources/manuals/default/test262/yet-categorized.json
  src/main/scala/esmeta/analyzer/package.scala
  src/main/scala/esmeta/error/NotSupported.scala
  src/main/scala/esmeta/interpreter/Interpreter.scala
  src/main/scala/esmeta/state/Heap.scala
  src/main/scala/esmeta/test262/Test.scala
  src/main/scala/esmeta/test262/util/ManualConfig.scala
  src/main/scala/esmeta/test262/util/TestFilter.scala
Labels: enhancement, area:utils

#127 Handled setter builtin heads and supported feature `__proto__` for Test262
  src/main/resources/manuals/default/test262/supported-features.json
  src/main/resources/result/complete-funcs
  src/main/resources/result/spec-summary
  src/main/scala/esmeta/es/Initialize.scala
  src/main/scala/esmeta/extractor/Extractor.scala
  src/main/scala/esmeta/lang/util/Parser.scala
Labels: enhancement, area:lang, area:builtin

#128 Supported shell script to automate release process
  scripts/release
Labels: enhancement, area:utils
