Repository es-meta/esmeta, pull requests merged in 2023-07, with the labels that each got.

#151 Fix for missing optional parameters state in getLocals
  src/main/scala/esmeta/analyzer/TypeSemantics.scala
Labels: bug, area:type

#152 Rewrap to completion if function returns completion record type
  src/main/scala/esmeta/analyzer/AbsSemantics.scala
  src/main/scala/esmeta/analyzer/AbsTransfer.scala
  src/main/scala/esmeta/analyzer/TypeAnalyzer.scala
  src/main/scala/esmeta/analyzer/TypeSemantics.scala
Labels: bug, area:analyzer, area:type

#154 Fix `lookupStr` not to lookup when `str` is Bottom
  src/main/resources/manuals/d711ba960cd12b76/tycheck-ignore.json
  src/main/scala/esmeta/analyzer/domain/state/TypeDomain.scala
Labels: bug, area:analyzer, area:type

#157 More precise lookup for string property of `AstNameTy`
  src/main/resources/manuals/d711ba960cd12b76/tycheck-ignore.json
  src/main/scala/esmeta/analyzer/domain/state/TypeDomain.scala
Labels: enhancement, area:analyzer, area:type
