Repository es-meta/esmeta, pull requests merged in 2024-02, with the labels that each got.

#207 Fix error in typing rules for EKeys
  src/main/scala/esmeta/analyzer/domain/state/TypeDomain.scala
Labels: bug, area:analyzer, area:type

#210 Support more readable git versions
  src/main/resources/result/spec-summary
  src/main/scala/esmeta/error/UtilError.scala
  src/main/scala/esmeta/util/Git.scala
  src/test/scala/esmeta/spec/StringifyTinyTest.scala
Labels: enhancement

#211 Update versions of tools for GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  .github/workflows/post-submit.yml
Labels: test, enhancement

#209 Support minor features for Test262 tests
  .completion
  src/main/resources/manuals/test262/supported-features.json
  src/main/resources/result/spec-summary
  src/main/scala/esmeta/phase/Test262Test.scala
  src/main/scala/esmeta/test262/Test.scala
  src/main/scala/esmeta/test262/Test262.scala
  src/main/scala/esmeta/test262/util/TestFilter.scala
  src/main/scala/esmeta/util/OptionKind.scala
Labels: test

#213 Refactor Numeric Types and Update Type Analysis
  src/main/resources/manuals/funcs/Decode.ir
  src/main/resources/manuals/tycheck-ignore.json
  src/main/resources/result/complete-funcs
  src/main/resources/result/spec-summary
  src/main/scala/esmeta/analyzer/AbsTransfer.scala
  src/main/scala/esmeta/analyzer/Analyzer.scala
  src/main/scala/esmeta/analyzer/domain/AValue.scala
  src/main/scala/esmeta/analyzer/domain/infinity/InfinityDomain.scala
  src/main/scala/esmeta/analyzer/domain/infinity/InfinityFlatDomain.scala
  src/main/scala/esmeta/analyzer/domain/infinity/package.scala
  src/main/scala/esmeta/analyzer/domain/package.scala
  src/main/scala/esmeta/analyzer/domain/pureValue/PureValueBasicDomain.scala
  src/main/scala/esmeta/analyzer/domain/pureValue/PureValueDomain.scala
  src/main/scala/esmeta/analyzer/domain/state/StateTypeDomain.scala
  src/main/scala/esmeta/analyzer/domain/value/ValueBasicDomain.scala
  src/main/scala/esmeta/analyzer/domain/value/ValueDomain.scala
  src/main/scala/esmeta/analyzer/domain/value/ValueTypeDomain.scala
  src/main/scala/esmeta/analyzer/util/Stringifier.scala
  src/main/scala/esmeta/compiler/Compiler.scala
  src/main/scala/esmeta/extractor/Extractor.scala
  src/main/scala/esmeta/interpreter/Interpreter.scala
  src/main/scala/esmeta/ir/Expr.scala
  src/main/scala/esmeta/ir/package.scala
  src/main/scala/esmeta/ir/util/Parser.scala
  src/main/scala/esmeta/ir/util/Stringifier.scala
  src/main/scala/esmeta/lang/Condition.scala
  src/main/scala/esmeta/lang/Expression.scala
  src/main/scala/esmeta/lang/util/Parser.scala
  src/main/scala/esmeta/lang/util/Stringifier.scala
  src/main/scala/esmeta/state/State.scala
  src/main/scala/esmeta/state/Value.scala
  src/main/scala/esmeta/state/package.scala
  src/main/scala/esmeta/state/util/Stringifier.scala
  src/main/scala/esmeta/state/util/UnitWalker.scala
  src/main/scala/esmeta/ty/AstValueTy.scala
  src/main/scala/esmeta/ty/InfinityTy.scala
  src/main/scala/esmeta/ty/MathTy.scala
  src/main/scala/esmeta/ty/NumberTy.scala
  src/main/scala/esmeta/ty/PureValueTy.scala
  src/main/scala/esmeta/ty/TyModel.scala
  src/main/scala/esmeta/ty/ValueTy.scala
  src/main/scala/esmeta/ty/package.scala
  src/main/scala/esmeta/ty/util/Parser.scala
  src/main/scala/esmeta/ty/util/Stringifier.scala
  src/main/scala/esmeta/ty/util/UnitWalker.scala
  src/main/scala/esmeta/ty/util/Walker.scala
  src/main/scala/esmeta/util/DoubleEquals.scala
  src/test/scala/esmeta/ESMetaTest.scala
  src/test/scala/esmeta/ir/JsonTinyTest.scala
  src/test/scala/esmeta/ir/StringifyTinyTest.scala
  src/test/scala/esmeta/lang/JsonTinyTest.scala
  src/test/scala/esmeta/lang/LangTest.scala
  src/test/scala/esmeta/lang/StringifyTinyTest.scala
  src/test/scala/esmeta/ty/JsonTinyTest.scala
  src/test/scala/esmeta/ty/StringifyTinyTest.scala
  tests/es/global.ir
Labels: enhancement, area:ir, area:analyzer, area:type
